:root{
    --color-bg: #2e3756;
    --color-pad-main: #3a4c6d;

}

body, html{
    background-color: var(--color-bg);
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#grid{
    background-color: var(--color-pad-main);
    z-index: 0;
    border-radius: 16px;

}

#controls {
    display: flex;
    flex-direction: column;
}


table{
    height: 100vmin;
    width: 100vmin;
    border-spacing: 16px;
    padding: 24px;
}

td {
    position: relative;
    background-color: rgba(104,121,163,255);
    border-radius: 8px;
}



/* td::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(4px);
    border-radius: 8px;
    background-color: indigo;
} */




._1 {
    background: hsl(310, 80%, 85%);
}

._2 {
    background-color: hsl(270, 80%, 85%);
}

._3 {
    background-color: hsl(230, 80%, 85%);
}

._4 {
    background-color: hsl(190, 80%, 85%);
}

._5 {
    background-color: hsl(150, 80%, 85%);;
}

._6 {
    background-color: hsl(110, 80%, 85%);
}

._7 {
    background-color: hsl(70, 80%, 85%);
}

._8 {
    background-color: hsl(30, 80%, 85%);
}