:root{
    --color-bg: #2e3756;
    --color-pad-main: #3a4568;

}

body, html{
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
}

#grid{

}

.controls-container{
    width: 88vh;
    display: flex;
    justify-content: space-between;
}

.controls {
    
}

.controls > * {
    margin-right: 1vh;

}

.controls > button{
    background: hsl(223, 10%, 95%);
    border: none;
    padding: 1vh;
    border-radius: 8px;
}

.controls:last-child {
    margin-right: 0;
}

.controls > button:hover{
    opacity: 0.9;
}

.controls > input{

}

#instructions {
    color: white;
}


table{
    height: 90vh;
    width: 90vh;
    border-spacing: 1vh;

}

td {
    position: relative;
    background: hsl(223, 24%, 52%);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s ease;
}

td:not(.active):hover{
    background: hsl(223, 32%, 62%);
}




/* td::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateY(4px);
    border-radius: 8px;
    background-color: indigo;
} */




._1 {
    background: radial-gradient(hsl(310, 25%, 85%), hsl(310, 80%, 85%));
}

._2 {
    background: radial-gradient(hsl(270, 25%, 85%), hsl(270, 80%, 85%));
}

._3 {
    background: radial-gradient(hsl(230, 25%, 85%), hsl(230, 80%, 85%));
}

._4 {
    background: radial-gradient(hsl(190, 25%, 85%), hsl(190, 80%, 85%));
}

._5 {
    background: radial-gradient(hsl(150, 25%, 85%), hsl(150, 80%, 85%));
}

._6 {
    background: radial-gradient(hsl(110, 25%, 85%), hsl(110, 80%, 85%));
}

._7 {
    background: radial-gradient(hsl(70, 25%, 85%), hsl(70, 80%, 85%));
}

._8 {
    background: radial-gradient(hsl(30, 25%, 85%), hsl(30, 80%, 85%));
}